@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

button.People, button.Vehicles, button.Planets, button.FAVORITES {
  background-color: $color-four;
  border: 3px solid $color-gold;
  color: $color-one;
  cursor: pointer;
  font-family: $font-fam;
  width: 10em;
  button.People, button.Vehicles, button.Planets, button.FAVORITES:hover{
    color: pink;
  }
}

button.FAVORITES {
  height: 2.2em;
}
