.PEOPLE, .VEHICLES, .PLANETS, .FAVORITES {
  background-color: #1F2833;
  border: 3px solid #D7AA39;
  color: #45A29E;
  cursor: pointer;
  font-family: "Fjalla One", sans-serif;
  font-size: .75em;
  height: 4em;
  outline: none;
  padding-top: .3em;
  width: 6em; }

.PEOPLE:hover, .VEHICLES:hover, .PLANETS:hover, .FAVORITES:hover {
  color: #66FCF1; }

.active {
  color: #66FCF1; }
