@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

button {
  background-color: $color-four;
  border: 3px solid $color-gold;
  color: $color-one;
  font-family: $font-fam;
  width: 10em;
}
