.PEOPLE, .VEHICLES, .PLANETS, .FAVORITES {
  background-color: #1F2833;
  border: 3px solid #D7AA39;
  color: #66FCF1;
  cursor: pointer;
  font-family: "Fjalla One", sans-serif;
  outline: none;
  width: 6em; }

button.FAVORITES {
  height: 2.2em; }

.active {
  background-color: #66FCF1; }
