@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.PEOPLE, .VEHICLES, .PLANETS, .FAVORITES {
  background-color: $color-four;
  border: 3px solid $color-gold;
  color: $color-one;
  cursor: pointer;
  font-family: $font-fam;
  outline: none;
  width: 6em;
}

button.FAVORITES {
  height: 2.2em;
}

.active {
  background-color: $color-one;
}

