@import '../../styles/variables.scss';


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  margin-top: 5em;
  width: 100%;
}

.star-wars {
  display: flex;
  justify-content: left;
  height: 600px;
  perspective: 800px;
  color: #FFFF82;
  font-family: 'Pathway Gothic one', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  overflow: hidden;
  text-align: justify;
  width: 100%;
  z-index: -1; position:relative;

}

.crawl {
  position: relative;
  top: 9999px;
  transform-origin: 75% 100%;
  animation: crawl 60s linear;
  .title {
    font-size: 90%;
    text-align: center;
  }
}


@keyframes crawl {
  0% {
    top: 700px;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

.fade {
  position: relative;
  width: .1%;
  min-height: 10vh;
  top: 0px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}