@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.card {
  background-color: $color-four;
  border: solid 2px pink;
  color: $color-one;
  font-family: $font-fam;
  height: 26em;
  margin: .5em;
  width: 20em;
  .selected{
    background-color: $color-gold;
  }
}

.cardbtn {
  background-color: $color-two;
  border: 1px solid black;
  border-radius: 50%;
  height: 25px;
  margin-right: .75em;
  outline: none;
}

.imgcardbtn {
  border: none;
  cursor: pointer;
  width: 10px;
  .selected{
    width: 10px;
  }
}

.card-title {
  align-items: center;
  background-color: $color-two;
  border-bottom: 3px solid $color-three;
  text-shadow: 1px 1px black;
  display: flex;
  justify-content: space-between;
  margin: auto 0;
}

.name {
  color: $color-gold;
  font-size: 1.35em;
  padding-left: .5em;
}

.stat {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  flex-wrap: wrap;
  padding-left: .5em;
  width: 99%;
  overflow-wrap: break-word;

}

.individual-stat {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  overflow-wrap: break-word;
  text-align: left;
  padding-bottom: 1rem
}
