.card {
  background-color: #1F2833;
  border: solid 2px pink;
  color: #66FCF1;
  font-family: "Fjalla One", sans-serif;
  height: 26em;
  margin: .5em;
  width: 20em; }
  .card .selected {
    background-color: #D7AA39; }

.cardbtn {
  background-color: #45A29E;
  border: 1px solid black;
  border-radius: 50%;
  height: 25px;
  margin-right: .75em;
  outline: none; }

.imgcardbtn {
  border: none;
  cursor: pointer;
  width: 10px; }
  .imgcardbtn .selected {
    width: 10px; }

.card-title {
  align-items: center;
  background-color: #45A29E;
  border-bottom: 3px solid #C5C6C7;
  text-shadow: 1px 1px black;
  display: flex;
  justify-content: space-between;
  margin: auto 0; }

.name {
  color: #D7AA39;
  font-size: 1.35em;
  padding-left: .5em; }

.stat {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  flex-wrap: wrap;
  padding-left: .5em;
  width: 99%;
  overflow-wrap: break-word; }

.individual-stat {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  overflow-wrap: break-word;
  text-align: left;
  padding-bottom: 1rem; }
