@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";


.nav-wrapper {
  background-color: $color-four;
  height: 10em;
  margin: auto 0;
  width: 100%;
  z-index: 1; position:relative;
}

.header-row {
  @include flexBetween();
  align-items: center;
  margin-left: 39em;
  width: 58em;
}

.button-row {
  @include flexBetween();
  align-items: center;
  margin-left: 35em;
  width: 25em;
}

.title-logo {
  font-size: 3em;
  color: lime;
}

.fav-counter {
  border: 1px solid black;
  margin-left: .5em;
  width: 1em;
}

.fav-row {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 30em;
}
