@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.nav-wrapper {
  background-color: $color-four;
  border-bottom: 2px solid $color-gold;
  height: 13em;
  margin: auto 0;
  width: 100%;
  z-index: 1; position:relative;
}

.header-row {
  @include flexBetween();
  align-items: center;
  margin-left: 45%;
}

.button-row {
  @include flexBetween();
  align-items: center;
  margin-left: 39%;
  width: 25em;
}

.title-logo {
  border-bottom: 3px solid $color-gold;
  color: $color-one;
  font-family: $font-fam;
  font-size: 3em;
  margin-top: .4em;
  padding: 6px;
  text-shadow: 2px 2px $color-three;
}

.fav-counter {
  align-items: center;
  border: 3px solid $color-gold;
  color: $color-one;
  display: flex;
  justify-content: center;
  height: 2.6em;
  width: 1.9em;
}

.fav-row {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto 0;
  padding: 0;
  width: 30em;
}
